
<ion-content style="--background:none;background-color: #f19c9c;" class="container ion-padding">
  <div class="header-container">
    <img class="img-app" src="./assets/icon/ic_applogo.png" >
    <h1 class="title-app">Học Tiếng Trung</h1>
  </div>
  <form (ngSubmit)="onLogin()">
    <ion-item style="border-radius: 20px; background-color: #f19c9c; border: 2px solid #ee6161;box-shadow: 4px 4px 4px #888888;">
      <ion-label position="floating">Tài khoản</ion-label>
      <ion-input  type="email" [(ngModel)]="loginData.email" name="email" required></ion-input>
    </ion-item>
    <ion-item style="border-radius: 20px; background-color: #f19c9c; border: 2px solid #ee6161;box-shadow: 4px 4px 4px #888888; margin: 20px 0;">
      <ion-label position="floating">Mật khẩu</ion-label>
      <ion-input type="password" [(ngModel)]="loginData.password" name="password" required></ion-input>
    </ion-item>
    <ion-button style="  
    --background:none;
    --border-radius: 20px;
    border-radius: 20px !important;
    background-color: #bd2a2a;
    box-shadow: 4px 4px 4px #888888;
    margin-top: 20px;" expand="full" type="submit" click="onLogin()">Đăng nhập</ion-button>
  </form>
</ion-content>
