<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="loginData.email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="loginData.password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Login</ion-button>
  </form>
  <div class="ion-text-center">
    <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
  </div>
</ion-content>
