* {
    margin: 0;
    padding: 0;
}

.header-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-app {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.title-app {

}