
<ion-content class="ion-padding">
  
  <h1 style="color: #333ccc; font-weight: bold; font-size: 40px;" >
    Xin chào
    <img src="./assets/icon/ic_hand.png" alt="">
  </h1> 

  <p style="font-size: 20px; color: #a1a1a1;" >Hôm nay là một ngày tuyệt vời để học tập</p>

  <!-- Gioi thieu -->
  <div style="background: linear-gradient(to bottom right, #1367a0, #5eb4ee); 
  padding: 20px; border-radius: 20px; box-shadow: 4px 4px 4px #888888;">
    <p style="font-size: 20px; font-weight: bold; color: #fff;">Giới thiệu</p>
    
    <div style="display: flex; align-items: center;">
      <p style="font-size: 16px; color: #fff;">
        Tiếng Trung hiện được coi là một ngôn ngữ quan trọng vì sự hiện diện ngày càng tăng của nó trong thế giới kinh doanh,
        cùng với đó Trung Quóc là cường quốc ngày càng phát triển và khẳng định được vị thế. Vì thế nên hãy cùng nhau học tiếng Trung nhé!
      </p>
      <img style="width: 100px; height: 100px;" src="./assets/icon/ic_learn.png" alt="">
    </div>
  </div>

  <!-- Khoa hoc -->
  <h2 style="margin-top: 20px; font-size: 30px; color: #333ccc;">Chương trình học</h2>
  
  <!-- Ky nang giao tiep -->
  <ion-card>
    <img src="./assets/icon/communicate.jpg" />
    <ion-card-header>
      <ion-card-title>Kỹ năng giao tiếp</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Kỹ năng giao tiếp tiếng Trung được thiết kế nhằm giúp học viên phát triển khả năng giao tiếp hiệu quả trong môi trường sử dụng tiếng Trung.
    </ion-card-content>
  </ion-card>

  <!-- Cau thong dung -->
  <ion-card>
    <img src="./assets/icon/daily.jpg" />
    <ion-card-header>
      <ion-card-title>Các câu tiếng Trung thông dụng</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Các câu tiếng Trung thông dụng mà bạn có thể sử dụng trong các tình huống giao tiếp hàng ngày.
    </ion-card-content>
  </ion-card>

  <!-- Hoc tu vung -->
  <ion-card href="/hoctuvung">
    <img src="./assets/icon/vocabulary.jpg" />
    <ion-card-header>
      <ion-card-title>Học từ vựng</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Các từ vựng tiếng Trung thông dụng theo từng chủ đề phổ biến.
    </ion-card-content>
  </ion-card>

  <!-- Bo thu han thu -->
  <ion-card href="/bothuhanthu">
    <img src="./assets/icon/alphabet.jpg" />
    <ion-card-header>
      <ion-card-title>Bộ thủ Hán thư</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Bộ Thủ Hán Thư được thiết kế nhằm giúp học viên hiểu và nắm vững các bộ thủ trong chữ Hán, qua đó nâng cao khả năng đọc hiểu và viết chữ Hán.
    </ion-card-content>
  </ion-card>

  <!-- quiz -->
  <ion-card href="/quiz">
    <img src="./assets/icon/quiz.jpg" />
    <ion-card-header>
      <ion-card-title>Trắc nghiệm</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Câu hỏi trắc nghiệm thường được sử dụng trong các kỳ thi, bài kiểm tra để đánh giá kiến thức, kỹ năng của người học.
    </ion-card-content>
  </ion-card>

</ion-content>


